* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
  --primary-color: #009999;
}

body {
  margin: 0;
  min-height: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem;
}

input {
  padding: .5rem .35rem;
  font-size: inherit;
  background-color: #ebebeb;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

button {
  display: grid;
  place-content: center;
  font-size: inherit;
  padding: .5rem 0;
  color: white;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 4px;

  &:focus {
    outline: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  --circle-width: .2em;
  font-size: 2rem;

  display: inline-block;
  width: calc(1em + var(--circle-width));
  height: calc(1em + var(--circle-width));
  border-radius: 50%;
  border: var(--circle-width) solid transparent;
  border-top: var(--circle-width) solid var(--spinner-color, var(--primary-color));
  animation: spin 1s infinite linear;

  &-narrow {
    @extend .spinner;
    --circle-width: .1em;
  }
}
