$primary: #009999;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
  //font-family: Avenir, Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #{$primary};
  --primary-color-fade: #{transparentize($primary, 0.4)};
  --primary-color-fade-strong: #{transparentize($primary, 0.8)};
  --error-color: #b00020;
  --grey: #d0d0d0;
  --grey-dark: #999999;
}

body {
  margin: 0;
  min-height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.centered-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem;

  label {
    margin-bottom: .25rem;
  }

  .error-text {
    display: none;
    margin-top: .25rem;
    color: var(--error-color);
  }

  input.had-interaction:invalid {
    border-color: var(--error-color);

    + .error-text {
      display: initial;
    }

    &:focus {
      box-shadow: 0 0 3px 0 var(--error-color);
    }
  }
}

.form-error {
  margin-top: .75rem;
  color: var(--error-color);
}

a {
  color: var(--primary-color);
  font-weight: 500;
  text-decoration: none;

  &:focus {
    text-decoration: underline;
  }
}

input {
  padding: .5rem .35rem;
  font-size: inherit;
  background-color: #ebebeb;
  border: 1px solid var(--grey);
  border-radius: 4px;

  &:focus {
    outline: 0;
    border-color: var(--primary-color);
    box-shadow: 0 0 3px 0 var(--primary-color);
  }
}

button {
  font-size: inherit;
  padding: .5rem;
  color: white;
  line-height: 1.5;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;

  &:focus {
    outline: 0;
    box-shadow: 0 0 3px 0 var(--primary-color);
  }

  &[disabled] {
    background-color: var(--primary-color-fade);
    cursor: not-allowed;
  }
}

.icon-btn {
  display: inline-grid;
  place-content: center;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: transparent;
  line-height: initial;

  &:focus {
    background-color: var(--primary-color-fade-strong);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  --circle-width: .2em;
  font-size: 2rem;

  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: var(--circle-width) solid transparent;
  border-top: var(--circle-width) solid var(--spinner-color, var(--primary-color));
  animation: spin 1s infinite linear;

  &-narrow {
    @extend .spinner;
    --circle-width: .1em;
  }
}

.btn-spinner-wrapper {
  display: inline-grid;
  height: 100%;
  place-content: center;
  --spinner-color: white;
}
